@font-face {
  font-family: "iconfont"; /* Project id 4139054 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1687770537157') format('woff2'),
       url('iconfont.woff?t=1687770537157') format('woff'),
       url('iconfont.ttf?t=1687770537157') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diannao:before {
  content: "\e642";
}

.icon-guanjun:before {
  content: "\e705";
}

.icon-mubiao:before {
  content: "\e639";
}

