:root {
    --HLL-white: #fff;
    --HLL-white-op: rgba(255, 255, 255, 0.2);
    --HLL-black: #000;
    --HLL-black-op: rgba(0, 0, 0, 0.2);
    --HLL-none: #00000000;
    --HLL-gray: #999999;
    --HLL-gray-op: #9999992b;
    --HLL-vip: #e5a80d;
    --HLL-main: var(--HLL-theme);
    --HLL-main-op: var(--HLL-theme-op);
    --HLL-main-op-deep: var(--HLL-theme-op-deep);
    --HLL-main-none: var(--HLL-theme-none);
    --HLL-shadow-theme: 0 8px 12px -3px var(--HLL-theme-op);
    --HLL-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --HLL-shadow-main: 0 8px 12px -3px var(--HLL-main-op);
    --HLL-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --HLL-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --HLL-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --HLL-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --HLL-shadow-red: 0 8px 12px -3px #ee7d7936;
    --HLL-shadow-green: 0 8px 12px -3px #87ee7936;
    --HLL-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --HLL-snackbar-time: 5s;
}

::selection {
    background: var(--HLL-fontcolor);
    color: var(--HLL-background);
}
[data-theme=light] {
    --HLL-theme: #425AEF;
    --HLL-theme-op: #4259ef23;
    --HLL-theme-op-deep: #4259efdd;
    --HLL-theme-none: #4259ef01;
    --HLL-blue: #425AEF;
    --HLL-red: #f04a63;
    --HLL-pink: #FF7C7C;
    --HLL-green: #57bd6a;
    --HLL-yellow: #c28b00;
    --HLL-yellow-op: #d99c001a;
    --HLL-orange: #e38100;
    --HLL-purple: #7a60d2;
    --HLL-fontcolor: #363636;
    --HLL-background: #f7f9fe;
    --HLL-reverse: #000;
    --HLL-maskbg: rgba(255, 255, 255, 0.6);
    --HLL-maskbgdeep: rgba(255, 255, 255, 0.85);
    --HLL-hovertext: var(--HLL-main);
    --HLL-ahoverbg: #F7F7FA;
    --HLL-lighttext: var(--HLL-main);
    --HLL-secondtext: rgba(60, 60, 67, 0.8);
    --HLL-scrollbar: rgba(60, 60, 67, 0.4);
    --HLL-card-btn-bg: #edf0f7;
    --HLL-post-blockquote-bg: #fafcff;
    --HLL-post-tabs-bg: #f2f5f8;
    --HLL-secondbg: #f1f3f8;
    --HLL-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --HLL-card-bg: #fff;
    --HLL-card-bg-op: var(--HLL-black-op);
    --HLL-card-bg-none: rgba(255, 255, 255, 0);
    --HLL-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --HLL-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --HLL-card-border: #e3e8f7;
    --HLL-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border: 1px solid var(--HLL-card-border);
    --style-border-always: 1px solid var(--HLL-card-border);
    --style-border-hover: 1px solid var(--HLL-main);
    --style-border-hover-always: 1px solid var(--HLL-main);
    --style-border-dashed: 1px dashed var(--HLL-theme-op);
    --style-border-forever: 2px solid var(--HLL-main);
}

[data-theme=dark] {
    --HLL-theme: #f2b94b;
    --HLL-theme-op: #f2b94b23;
    --HLL-theme-op-deep: #f2b94bdd;
    --HLL-theme-none: #f2b94b00;
    --HLL-blue: #0084FF;
    --HLL-red: #FF3842;
    --HLL-pink: #d44040;
    --HLL-green: #3e9f50;
    --HLL-purple: #7a60d2;
    --HLL-yellow: #ffc93e;
    --HLL-yellow-op: #ffc93e30;
    --HLL-orange: #ff953e;
    --HLL-fontcolor: #F7F7FA;
    --HLL-background: #18171d;
    --HLL-reverse: #fff;
    --HLL-maskbg: rgba(0, 0, 0, 0.6);
    --HLL-maskbgdeep: rgba(0, 0, 0, 0.85);
    --HLL-hovertext: #0A84FF;
    --HLL-ahoverbg: #fff;
    --HLL-lighttext: var(--HLL-theme);
    --HLL-secondtext: #a1a2b8;
    --HLL-scrollbar: rgba(200, 200, 223, 0.4);
    --HLL-card-btn-bg: #30343f;
    --HLL-post-blockquote-bg: #000;
    --HLL-post-tabs-bg: #121212;
    --HLL-secondbg: #30343f;
    --HLL-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --HLL-card-bg: #1d1e22;
    --HLL-card-bg-op: var(--HLL-white-op);
    --HLL-card-bg-none: #1d1b2600;
    --HLL-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --HLL-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --HLL-card-border: #3d3d3f;
    --HLL-shadow-border: 0 8px 16px -4px #00000050;
    --style-border: 1px solid var(--HLL-card-border);
    --style-border-always: 1px solid var(--HLL-card-border);
    --style-border-hover: 1px solid var(--HLL-theme);
    --style-border-hover-always: 1px solid var(--HLL-theme);
    --style-border-dashed: 1px dashed var(--HLL-theme-op);
    --style-border-forever: 2px solid var(--HLL-lighttext);
}

@media screen and (max-width: 768px) {
    :root {
        --style-border: 0px solid var(--HLL-card-border);
        --style-border-hover: 0px solid var(--HLL-main);
    }
}
